@charset "utf-8";

body{
	background-color:#ccffff;/* CMYK 20,0,0,0 */
	color:#f5fafd;/* CMYK 5,0,0,0 */
	text-align:center;
	margin:0px;
	font-family:"微软雅黑","黑体";
	width:100%;
}

.container{
	background-color:#002d4d;/* CMYK 100,60,20,60 */
	width:660px;
	padding:10px 20px 0px 20px;
	margin:auto;
	margin-top:-570px;
	transition:margin-top cubic-bezier(0.6,0,1,1) 0.5s 0s;
	box-shadow:5px 5px 5px #888888;
	height:550px;
}

.ok.container{
	margin-top:0px;
	display:block;
	transition:margin-top cubic-bezier(0,0,0.2,1) 0.5s 0.3s;
}

h1{
	margin-top:0px;
	margin-bottom:0px;
	-webkit-margin-before:0px;
	-webkit-margin-after:0px;
	font-size:48px;
	text-align:left;
}

.logo{
	width:200px;
	opacity:0.5;
	transition:opacity 0.2s;
}

.logo:hover{
	opacity:1;
}

#login_box_table{
	display:table;
	width:800px;
	margin-left:-70px;
	height:400px;
}

.box{
	display:table-cell;
	width:350px;
	background-color:#f5fafd;/* CMYK 5,0,0,0 */
	color:#002d4d;/* CMYK 100,60,20,60 */
	border:1px #002d4d;/* CMYK 100,60,20,60 */
	box-shadow:0 0 5px 2px #aaa;
}

#box_middle{
	display:table-cell;
}

h2{
	font-size:36px;
}

#qrcode{
	width:20px;
	height:20px;
	margin-left:50px;
}

.container.confirm{
	margin-top:-1200px;
}

.container.confirm.ok{
	margin-top:10px;
}

#confirm_box{
	width:800px;
	height:400px;
	margin-left:-70px;
	background-color:#f5fafd;/* CMYK 5,0,0,0 */
	color:#002d4d;/* CMYK 100,60,20,60 */
	border:1px #002d4d;/* CMYK 100,60,20,60 */
	box-shadow:0 0 5px 2px #aaa;
	overflow:hidden;
}

h3{
	font-size:18px;
	line-height:1.5;
}

.innerbox{
	height:370px;
	transition:margin-top cubic-bezier(0,0,0.2,1) 0.5s 0.2s;
}

.innerbox.ok{
	margin-top:-400px;
}

#ok_inner{
	padding-top:110px;
}

.confirm_item{
	width:450px;
	height:50px;
	text-align:left;
	margin:auto;
	margin-top:20px;
}

.confirm_item>img{
	float:left;
	width:45px;
	height:45px;
}

.confirm_item>h4{
	width:400px;
	margin:0;
}

.confirm_item>h4.secondary{
	color:#aaa;
	font-weight:normal;
}
